
<ion-content>
  <div id="container">

  </div>

  <div *ngFor="let item of user | async">

    <ion-item *ngIf="item.accessLevel == 'user' ;" text-wrap>
      <p>Ingresa a la academia para poder visualizar esta sección.</p>
    </ion-item>

    <ion-item *ngIf="item.accessLevel == 'admin';">
      <app-news></app-news>
      <announcement-button></announcement-button>
      <prospect-button></prospect-button>
      <user-button></user-button>
      <cursos-button></cursos-button>
    </ion-item>


    <ion-item *ngIf="item.accessLevel == 'coordi';">
      <app-news></app-news>
      <announcement-button></announcement-button>
      <prospect-button></prospect-button>
      <user-button></user-button>
      <cursos-button></cursos-button>
    </ion-item>

    <ion-item *ngIf="item.accessLevel == 'teacher';" text-wrap>
      <teachers-module></teachers-module>
    </ion-item>       


    <ion-item *ngIf="item.accessLevel == 'student';">
     <students-module></students-module>
    </ion-item>

  </div>


</ion-content>
