
<ion-content>
  <div id="container">

  </div>

  <div *ngFor="let item of user | async">

    <ion-item *ngIf="item.accessLevel == 'user' ;" text-wrap>
      <p>Ingresa a la academia para poder visualizar esta sección.</p>
    </ion-item>

    <div text-center *ngIf="item.accessLevel == 'admin';">
        <ion-badge  color="secondary">
            <h1  text-center>Menú administrativo</h1>
          </ion-badge>
    </div>

    <ion-item text-center *ngIf="item.accessLevel == 'admin' || item.accessLevel == 'coordi';">
      <app-news></app-news>
      <announcement-button></announcement-button>
      <prospect-button></prospect-button>
      <user-button></user-button>
      <cursos-button></cursos-button>
      <student-button></student-button>
      
      <hr>
      <ion-badge  color="secondary">
        <h1  text-center>Asistencias</h1>
      </ion-badge>

      <button-assitence></button-assitence>

      <hr>

    
      <ion-badge  color="primary">
        <h1  text-center>Control</h1>
      </ion-badge>

      <activities-button></activities-button>

    </ion-item>


    <ion-item *ngIf="item.accessLevel == 'teacher'; " text-wrap>
      <teachers-module></teachers-module>
    </ion-item>       


    <ion-item *ngIf="item.accessLevel == 'student' ;">
     <students-module></students-module>
    </ion-item>

    <ion-item *ngIf="item.accessLevel == 'tutor';">
      <tutor></tutor>
     </ion-item>

  </div>

</ion-content>
