page-home {}

#container {
    margin-top: 5%;
}

#cardcontent {
    text-align: justify;
}

#ti {
    font-style: italic;
}

.head {
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
}