
    <div style="margin-top:20%;">

            <ion-item>
                    <ion-label> Buscar alumno</ion-label>
                    <ion-toggle [(ngModel)]="requestInv"  checked="false"></ion-toggle>
                  </ion-item>
        

        <ion-item *ngIf="requestInv" >
                <input  [(ngModel)]="email" (keyup)="getItems($event)" type="text" name="email" placeholder="E-mail del alumno">

                <ion-card>

                        <ion-card-header>
                         Alumnos
                        </ion-card-header>
                      
                        <ion-card-content>
                         <ion-item *ngFor="let item of students | async">
                             <ion-avatar item-start>
                                 <img src="{{item.imageURL}}" alt="">
                             </ion-avatar>
                            {{item.email}}
                            <input type="checkbox" id="{{item.uid}}" (click)="getValueEachMember(item.uid,item.imageURL,item.name)" item-end color="secondary" > 
                         </ion-item>
                        </ion-card-content>
                      
                      </ion-card>

                      <ion-card>

                            <ion-card-header>
                             En lista
                            </ion-card-header>
                          
                            <ion-card-content>
                             <ion-item *ngFor="let item of members">
                                    <ion-avatar item-start>
                                            <img src="{{item.imageURL}}" alt="">
                                        </ion-avatar>
                                {{item.name}}
                             </ion-item>
                            </ion-card-content>
                          
                          </ion-card>
                <button ion-button (click)="sendInvitation()" type="button">Enviar</button>
        </ion-item>

        <ion-item>
            <p text-center>Alumnos:</p>
            <ion-item *ngFor="let item of tutorStudents | async">
                <button type="button" ion-button (click)="findStudent(item.uid)">
                    
                    <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                    {{item.email}}
                    </button>
              
            </ion-item>
            <div *ngFor="let tut of stud | async">
                    <ion-list>
                            <ion-item>
                              <ion-thumbnail item-start>
                                <img src="{{tut.imageURL}}">
                              </ion-thumbnail>
                              <h2 text-wrap>{{tut.name + " " +tut.lastName + " " +tut.lastName2}}</h2>
                              
                            </ion-item>
                            <ion-item>
                                    
                                    <ion-icon name="person" item-start></ion-icon>
                                    Maestro: 
                                    <div item-end>{{ tut.teacher }} </div>  
                                  </ion-item>
                          
                          <ion-item >
                                
                                <ion-icon name="calendar" item-start></ion-icon>
                                Horario:   <div text-wrap item-end>{{ tut.schedule }} </div> 
                              </ion-item>
                              <ion-item>
                                   
                                    <ion-icon name="cube" item-start></ion-icon>
                                    Aula:   <div item-end>{{ tut.classroom }} </div> 
                                  </ion-item>
                                  <ion-item>
                                        
                                        <ion-icon name="paper" item-start></ion-icon>
                                        Curso:   <div item-end>{{ tut.course }} </div> 
                                      </ion-item>
                      </ion-list>
            </div>
        </ion-item>


    </div>

