app-profile{

}
.background{
  background-color: #95c11e;
}
.namepos{
  width: 100%;
  height: 150px;
  background-color: black;
  color: whitesmoke;
}
.name{
}
.parap{
  color: #95c11e;
}

#cont{
  margin-top: 30%;
  width: 90%;
  margin: auto;
}
#pos{
  color:whitesmoke;
}
.card_profile{
  position: relative;
  z-index: 1;
  width: 80%;
  height: 50%;
  border-radius: 47%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-img{
  height: 35vw;
  width: 45vw;
  border: 1px solid #fff;
  border-radius: 60%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.notif{
  position: relative;
  left: 20%;
}
input[type="button"]{
  display: block;
  font-size: 14px;
  width:100%;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}

input {
  opacity: 0.5;
}

input:hover,
input:focus {
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}

input[type="button"] {
  appearance: none;
  opacity: .99;
  width:120px;
  background: #08c;
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 6px rgba(0,246,255,.5);
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

input[type="button"]:hover {
  background: #08c;
  width:120px;
  border: 1px solid #0a5378;
  border-radius: 3px;
  box-shadow: inset 0px 3px 16px rgba(0,0,0,.25),0px 1px 10px rgba(255,255,255,.5),inset 0px -1px 2px rgba(255,255,255,.35);
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}


.content_list{
  height: 100%;
  width: 100%;
}

@media  only screen and (max-width: 600px) {
  .card_profile{
    width: 100%;
    height: 80%;
    display: block;
  }
}