
<ion-content>
  <div id="container">
  </div>
  <ion-list no-lines *ngFor="let item of users | async">

      <ion-item>

          <ion-card text-center class="hide-card">
              <img src="{{item.imageURL}}" class="custom-img"/>
              <input type="hidden" id="urlcurrent" value="{{item.imageURL}}">
              <br>
              <br>
              <h2 text-wrap > {{item.name + ' ' + item.lastName + ' '+ item.lastName2 | uppercase}} </h2>
              <p>Posición: <ion-badge color="orange"><ion-note id="pos">{{item.accessLevel}}</ion-note></ion-badge> </p> 
              <hr>
          </ion-card>
      </ion-item>

        <ion-list no-border>

          <ion-list-header text-center>
            Información
          </ion-list-header>

          <ion-item>
            <ion-icon name='mail' item-start></ion-icon>
            E-mail
            <ion-note item-end>
            {{item.email}}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-toggle [(ngModel)]="phone" name="phone" checked="false"></ion-toggle>
            <ion-label>
              Telefono
            </ion-label>
            <ion-icon name='call' item-start></ion-icon>
          </ion-item>
          <div *ngIf="phone != true; else phoneNumber">

          </div>

          <ng-template #phoneNumber>
            <ion-item>
              <ion-icon name='call' item-start></ion-icon>
              <input type="text" value="{{item.phone}}" readonly>

            </ion-item>
            <ion-item>
              <ion-icon name='call' item-start></ion-icon>
              <input id="phone" type="text" [(ngModel)]="userUpdate.phone" name="phone" placeholder="Agregar: ">
            </ion-item>
          </ng-template>


          <ion-item>
            <ion-icon name='alert' item-start></ion-icon>
            Estatus
            <ion-badge item-end color="green"> <ion-note id="pos" item-end>
            {{item.status}}
            </ion-note></ion-badge>
          </ion-item>

<!-- -->
          <ion-item>
            <ion-label>
              Último grado de estudios
            </ion-label>
            <ion-toggle [(ngModel)]="grade" name="grade" checked="false"></ion-toggle>
            <ion-icon name='school' item-start></ion-icon>
          </ion-item>

          <div *ngIf="grade != true; else lastGrade">

          </div>
          <ng-template #lastGrade>
            <ion-item>
              <ion-icon name='school' item-start></ion-icon>
              <input  type="text"  value="{{item.grade}}" readonly> 

            </ion-item>
            <ion-item>
              <ion-icon name='school' item-start></ion-icon>
              <input id="grade" type="text" [(ngModel)]="userUpdate.grade" name="grade" placeholder="Actualizar: ">
            </ion-item>

          </ng-template>
<!-- -->
<!-- -->
          <ion-item>
            <ion-label>
              Edad
            </ion-label>
            <ion-toggle [(ngModel)]="age" name="age" checked="false"></ion-toggle>
            <ion-icon name='body' item-start></ion-icon>
          </ion-item>

          <div *ngIf="age != true; else ageU">

          </div>
          <ng-template #ageU>
            <ion-item>
              <ion-icon name='body' item-start></ion-icon>
              <input  type="text"  value="{{item.age}}" readonly>
            </ion-item>
            <ion-item>
              <ion-icon name='body' item-start></ion-icon>
              <input id="age"type="text" [(ngModel)]="userUpdate.age" name="age" placeholder="Actualizar: ">
            </ion-item>

          </ng-template>
<!-- -->
<!-- -->
          <ion-item>
            <ion-label>
              Ocupación
            </ion-label>
            <ion-toggle [(ngModel)]="ocupation" checked="false"></ion-toggle>
            <ion-icon name='folder' item-start></ion-icon>
          </ion-item>

          <div *ngIf="ocupation != true; else ocupationU">

          </div>
          <ng-template #ocupationU>
            <ion-item>
                <ion-icon name='folder' item-start></ion-icon>
                <input  type="text" value="{{item.ocupation}}" readonly> 

            </ion-item>
            <ion-item>
              <ion-icon name='folder' item-start></ion-icon>
              <input id="ocupation" type="text" [(ngModel)]="userUpdate.ocupation" name="ocupation" placeholder="Actualizar: ">
            </ion-item>

          </ng-template>
<!-- -->

          <ion-item>
            <ion-icon name='create' item-start></ion-icon>

      <ion-label>¿Cómo se enteró de la escuela?</ion-label>
            <ion-select [(ngModel)]="userUpdate.advertising" name="advertising" item-end>
              <ion-option value="redes">Redes sociales</ion-option>
              <ion-option value="conocido">Conocido</ion-option>
              <ion-option value="cartel">Cartel</ion-option>
            </ion-select>



          </ion-item>
          <input type="hidden"name="uid" id="uid" value="{{item.uid}}">
          <input type="hidden"name="actPhone" id="actPhone" value="{{item.phone}}">
            <input type="hidden"name="actGrade" id="actGrade" value="{{item.grade}}">
            <input type="hidden"name="actAge" id="actAge" value="{{item.age}}">
            <input type="hidden"name="actOcupation" id="actOcupation" value="{{item.ocupation}}">
        </ion-list>

          
        
  </ion-list >

          
      <ion-list  no-lines *ngFor="let stu of student | async">
          <ion-list-header text-center>
              Academia
            </ion-list-header>

        <ion-item>
          <ion-icon name='paper' item-start></ion-icon>
          Curso
          <ion-note item-end>
            {{stu.course}}
          </ion-note>
        </ion-item>

        <ion-item>
            <ion-icon name='clock' item-start></ion-icon>
            Horario
            <ion-note item-end>
              {{stu.schedule}}
            </ion-note>
          </ion-item>

          <ion-item>
              <ion-icon name='contact' item-start></ion-icon>
              Maestro
              <ion-note item-end>
                {{stu.teacher}}
              </ion-note>
            </ion-item>

            <ion-item>
                <ion-icon name='cube' item-start></ion-icon>
                Aula
                <ion-note item-end>
                  {{stu.classroom}}
                </ion-note>
              </ion-item>


        </ion-list>
          <ion-item>
            <label>Cargar foto de perfil</label>
          <upload-form></upload-form>
          </ion-item>
          <button type="button" ion-button block (click)="UpdateInfo()" > Actualizar información</button>
</ion-content>
