<ion-header>
  <ion-toolbar>
    <ion-title>
      Prospectos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<!--Si no va a editar-->
  <ion-list *ngIf="isEditing == false; else editing">

    <ion-item>
      <p>Nombre</p>
      <input placeholder="Nombre" [(ngModel)]="currentProspect.name" name="name" type="text">
    </ion-item>

    <ion-item>
      <p>Apellido paterno</p>
      <input placeholder="Apellido paterno" [(ngModel)]="currentProspect.lastname" name="lastname" type="text">
    </ion-item>

    <ion-item>
      <p>Apellido Materno</p>
      <input placeholder="Apellido Materno"  [(ngModel)]="currentProspect.lastname2" name="lastname2" type="text">
    </ion-item>

    <ion-item>
      <p>Edad</p>
      <input placeholder="Edad" [(ngModel)]="currentProspect.age" name="age" type="text">
      <p>Solo números enteros (necesario).</p>
    </ion-item>

    <!--<ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="currentProspect.state" name="state">
        <ion-option value="si">Si</ion-option>
        <ion-option value="nn">No</ion-option>
      </ion-select>
    </ion-item>-->

    <ion-item>
      <p>Número de telefono</p>
      <input placeholder="Telefono" maxlength="10" [(ngModel)]="currentProspect.phone" name="phone" type="text">
      <p>Máximo 10 dígitos.</p>
    </ion-item>

    <ion-item>
      <ion-label>Estatus</ion-label>
      <ion-select [(ngModel)]="currentProspect.status" name="status">
        <ion-option value="debil">Débil</ion-option>
        <ion-option value="interesado">Interesado</ion-option>
        <ion-option value="inscrito">Inscrito</ion-option>
        <ion-option value="muerto">Muerto</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Atendió</ion-label>
      <ion-select [(ngModel)]="currentProspect.attended" name="attended">
        <ion-option *ngFor="let item of coordi | async" value="{{item.name}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cursos</ion-label>
      <ion-select [(ngModel)]="currentProspect.course" name="course">
        <ion-option *ngFor="let item of cursos;" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <textarea rows='5' [(ngModel)]="currentProspect.coment" name="coment" data-min-rows='3' name="coment" placeholder='Comentario...' required></textarea>
    </ion-item>

    <ion-item>
      <ion-label>Fuente</ion-label>
      <ion-select [(ngModel)]="currentProspect.source" name="source">
        <ion-option value="inboxfb">INBOX FB</ion-option>
        <ion-option value="whatsapp">WHATSAPP</ion-option>
        <ion-option value="comentariofb">COMENTARIO</ion-option>
        <ion-option value="database">BASE DE DATOS</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
        <ion-icon name="logo-usd" item-start></ion-icon>
          Precio
        <input [(ngModel)]="currentProspect.price" name="price" type="text">
        <p>Solo números enteros sin decimales.</p>
      </ion-item>


      <button type="button" ion-button block (click)="createNewProspect()" > Crear prospecto </button>

  </ion-list>

<ng-template #editing>

      <ion-item>
          <p>Nombre</p>
        <input  placeholder="Nombre" [(ngModel)]="item.name" name="name" type="text">
      </ion-item>

      <ion-item>
          <p>Apellido paterno</p>
        <input placeholder="Apellido paterno"  [(ngModel)]="item.lastname" name="lastname" type="text">
      </ion-item>

      <ion-item>
          <p>Apellido Materno</p>        
        <input  placeholder="Apellido materno" [(ngModel)]="item.lastname2" name="lastname2" type="text">
      </ion-item>

      <ion-item>
          <p>Edad</p>
        
        <input placeholder="Edad" [(ngModel)]="item.age" name="age" type="text">
        <p>Solo números enteros (necesario).</p>
        
      </ion-item>

      <!--ion-item>
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="item.state" name="state">
          <ion-option value="si">Si</ion-option>
          <ion-option value="nn">No</ion-option>
        </ion-select>
      </ion-item>-->

      <ion-item>
        <p>Número de telefono</p>
        <input placeholder="Telefono"  maxlength="10" [(ngModel)]="item.phone" name="phone" type="text">
        <p>Máximo 10 dígitos.</p>
      </ion-item>

      <ion-item>
        <ion-label>Estatus</ion-label>
        <ion-select [(ngModel)]="item.status" name="status">
          <ion-option value="debil">Débil</ion-option>
          <ion-option value="interesado">Interesado</ion-option>
          <ion-option value="inscrito">Inscrito</ion-option>
          <ion-option value="muerto">Muerto</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Atendió</ion-label>
        <ion-select [(ngModel)]="item.attended" name="attended">
          <ion-option *ngFor="let item of coordi | async" value="{{item.name}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cursos</ion-label>
        <ion-select [(ngModel)]="item.course" name="course">
          <ion-option *ngFor="let item of cursos;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <textarea rows='5' [(ngModel)]="item.coment" name="coment" data-min-rows='3' name="coment" placeholder='Comentario...' required></textarea>
      </ion-item>

      <ion-item>
        <ion-label>Fuente</ion-label>
        <ion-select [(ngModel)]="item.source" name="source">
          <ion-option value="inboxfb">INBOX FB</ion-option>
          <ion-option value="whatsapp">WHATSAPP</ion-option>
          <ion-option value="comentariofb">COMENTARIO</ion-option>
          <ion-option value="database">BASE DE DATOS</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
          <ion-icon name="logo-usd" item-start></ion-icon>
            Precio
          <input [(ngModel)]="item.price" name="price" type="text">
          <p>Solo números enteros sin decimales.</p>
        </ion-item>


        <button type="button" ion-button block (click)="editCurrentProspect(item)" > Editar prospecto </button>

</ng-template>

  <!--Si va a editar-->


</ion-content>
