<ion-header>
    <ion-toolbar>
        <ion-title>
            Asistencia
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancelar</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Estudiante</ion-label>
                <ion-select [(ngModel)]="id">
                    
                        <ion-option *ngFor="let item of students | async;" value="{{item.uid}}">{{item.name + " " + item.lastName}}</ion-option>
                </ion-select>
        </ion-item>
           <ion-item>
                <ion-label>Horario</ion-label>
                <ion-select [(ngModel)]="horarios">
                        <ion-option *ngFor="let item of horario" value="{{item.id_horario}}">{{item.nombre + " " + item.horas}} </ion-option>
                </ion-select>
           </ion-item>
           <ion-item>
                <ion-label>Cursos</ion-label>
                <ion-select [(ngModel)]="curso">
                        <ion-option *ngFor="let item of cursos | async " value="{{item.id}}">{{item.name |  uppercase}} </ion-option>
                </ion-select>
           </ion-item>
           <ion-item>
               <input type="date">
           </ion-item>

            
    </ion-list>
        

</ion-content>