
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-menu  [content]="content">
  <ion-header color="dark">
    <ion-toolbar>
      <ion-title>
      </ion-title>
      <!--<img class="logo" src="assets/imgs/CFM3.png" alt="">-->

    </ion-toolbar>
  </ion-header>

  <ion-content class="dark">
    <div id="menu">
    <div *ngIf="afAuth.authState | async; let user; else showUserPages" >
      <ion-list >
          <ion-card text-center class="hide-card">
              <img src="assets/imgs/CFM3.png" class="custom-avatar"/>

              <hr>
              <div *ngIf="afAuth.authState | async; let user;">
                  Hola {{ user.email }}!
                </div>
          </ion-card>
        <button menuClose ion-item *ngFor="let p of adminPages" (click)="openPage(p)">
          <ion-icon  name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </div>

    <ng-template #showUserPages>
      <ion-list>
      <ion-card text-center class="hide-card">
          <img src="assets/imgs/CFM3.png" class="custom-avatar"/>
          <hr>
      </ion-card>
        <button menuClose ion-item *ngFor="let p of userpages" (click)="openPage(p)">
          <ion-icon  name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ng-template>

      </div>
  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav   [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
